obj/project.assets.json
obj/project.nuget.cache
obj/TopStories.csproj.nuget.dgspec.json
obj/TopStories.csproj.nuget.g.props
obj/TopStories.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/TopStories.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/TopStories.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/TopStories.assets.cache
obj/Debug/netcoreapp3.1/TopStories.csproj.CopyComplete
obj/Debug/netcoreapp3.1/TopStories.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/TopStories.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/TopStories.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/TopStories.dll
obj/Debug/netcoreapp3.1/TopStories.exe
obj/Debug/netcoreapp3.1/TopStories.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/TopStories.pdb
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/RestSharp.dll
bin/Debug/netcoreapp3.1/TopStories.deps.json
bin/Debug/netcoreapp3.1/TopStories.dll
bin/Debug/netcoreapp3.1/TopStories.exe
bin/Debug/netcoreapp3.1/TopStories.pdb
bin/Debug/netcoreapp3.1/TopStories.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/TopStories.runtimeconfig.json
